.menu {
  font-family: "Open Sans", sans-serif;
  font-family: 600;
  height: 10%;
  background-color: 	#00311d;
  color: #fff;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 20px;
    height: 20px;
    background-color: white;
  }

  .menu-lista {

    margin: 0;
    padding: 0;
    gap: 10px;

    list-style: none;
    display: flex;
    align-items: center;

    .item-lista {
      font-size: 16px;
    }
  }

  .pesquisa {
    width: 40%;
    input {
      border: none;
      width: 100%;
      height: 20px;
      border-radius: 10px;
    }
  }

  .config {


    .perfil {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        cursor: pointer;
        color: #000000;
      }
    }
  }
}
